@import './_variables.sass'

body, html
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 14px
  @include fluid-type($min_width, $max_width, $min_font, $max_font)

body
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: 2 * 46px 1fr 46px

.header
  display: flex
  grid-row: 1
  grid-column: 3/11
  justify-content: flex-start
  align-items: center

.footer
  display: flex
  grid-row: 3
  grid-column: 3/11

.container
  display: grid
  grid-row: 2
  grid-column: 3/11
  grid-template-columns: repeat(6, 1fr)
  grid-gap: 1rem
  grid-auto-columns: min-content
  grid-auto-flow: row dense

  .title
    @include ystext-bold
    font-size: 1.2rem

  .image > picture
    height: 100%
    width: 100%

  .image > picture > img
    height: 100%
    width: 100%

  .description
    @include ystext-medium

  .buttons > button
    outline: 0
    border: 0
    background: 0
    cursor: pointer

  .titlePicDescWhole
    grid-column: span 6
    display: grid
    grid-template-columns: 2fr 1fr
    grid-template-rows: 1fr 3fr 1fr
    grid-gap: .5rem
    .image
      grid-column: 1
      grid-row: 3 span
    .title
      grid-column: 2
      grid-row: 1
    .description
      grid-column: 2
      grid-row: 2
    .buttons
      grid-column: 2
      grid-row: 3
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      padding: 0 5px

  .titlePicDescHalf
    grid-column: span 3
    display: grid
    grid-template-columns: 6fr 1fr
    grid-template-rows: auto auto 65px
    grid-gap: .5rem
    .image
      grid-column: 2 span
      grid-row: 2
    .title
      grid-column: 2 span
      grid-row: 1
    .description
      overflow: hidden

      grid-column: 1
      grid-row: 3
    .buttons
      grid-column: 2
      grid-row: 3
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding: 5px 0

  .titlePic
    grid-column: span 2
    display: grid
    grid-template-rows: auto auto
    grid-template-columns: 4fr 1fr
    grid-gap: .5rem
    .title
      grid-row: 1
      grid-column: 1 / 3
    .image
      grid-row: 2
      grid-column: 1 / 3
    .buttons
      grid-row: 2
      grid-column: 2 / 3
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      padding: 5px 0

  .titleDesc
    grid-column: span 2
    display: grid
    height: 250px
    grid-template-columns: 1fr
    grid-template-rows: minmax(min-content, auto) minmax(160px, min-content) minmax(min-content, auto)
    grid-gap: .5rem
    .description
      overflow: hidden
    .buttons
      grid-auto-rows: 100px
    .buttons
      display: grid
      grid-template-rows: 1fr
      grid-auto-columns: 6fr 1fr 1fr
      align-items: center
    .buttons > span
      grid-row: 1
      grid-column: 1
      @include ystext-bold

    .buttons > button:first-child
      grid-row: 1
      grid-column: 2
    .buttons > button:last-child
      grid-row: 1
      grid-column: 3

@import './_media.sass'
